name: Deploy to EC2

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}
      - name: Copy files via rsync
        run: |
          rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no" ./ ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:/home/${{ secrets.EC2_USER }}/data-vis-backend
      - name: Bring Docker containers up
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} '
            cd /home/${{ secrets.EC2_USER }}/data-vis-backend/build &&
            chmod +x all_up.sh && ./all_up.sh
          '
      - name: Test health
        run: |
          curl -f http://${{ secrets.EC2_HOST }}/generatedata/
          curl -f http://${{ secrets.EC2_HOST }}/consumer/
