name: Shutdown Docker

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}
      - name: Bring Docker containers down
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} '
            cd /home/${{ secrets.EC2_USER }}/data-vis-backend/build &&
            chmod +x all_down.sh && ./all_down.sh
          '
      - name: Test health
        run: |
          curl -f http://${{ secrets.EC2_HOST }}:8080/healthcheck
          curl -f http://${{ secrets.EC2_HOST }}:8081/healthcheck
